@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 750px;
    margin: auto;
}

.content-container {
    width: 45%;
    margin: auto;
}

.button {
    border-radius: 0.5rem;
    font-size: 1rem;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    padding: 0.55rem 1.5rem;
    color: black;
    background: white;
    transition: all ease-in-out 150ms;
    width: 100%;
}

.button:hover {
    color: white;
    background: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.navbar__logo {
    display: flex;
    align-items: center;
}

.navbar__icon {
    width: 3rem;
    height: 3rem;
}

.navbar__text {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.navbar__actions {
    display: flex;
}

.navbar__label {
    margin-right: 0.5rem;
}

.navbar__select {
    outline: none;
    cursor: pointer;
    padding: 2px 3px;
    border: none;
    border-bottom: 1px solid #bbb;
    margin-right: 2rem;
}

.navbar__select:hover,
.navbar__stats:hover {
    opacity: 0.75;
}

.navbar__stats {
    cursor: pointer;
}

.play {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.play__btn {
    width: 10rem;
    cursor: pointer;
}

.play__btn:hover {
    opacity: 0.75;
}

.play-loading {
    opacity: 0;
}

.play__definition {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.play__definition:hover {
    opacity: 0.75;
}

.play__speaker {
    width: 1.4rem;
    margin-right: 0.3rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__input {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    outline: none;
    border: none;
    border-bottom: 1.5px solid #bbb;
    width: 100%;
}

.form__input-incorrect {
    animation: incorrect-guess 400ms ease-in-out;
}

.correct {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.correct__message {
    margin-bottom: 1rem;
}

.correct__link {
    font-weight: 700;
}

.incorrect {
    margin-top: 2rem;
}

.incorrect__title {
    font-weight: 600;
}

@keyframes incorrect-guess {
    0% {
        transform: translateX(-30px);
        border-bottom: 1.5px solid rgb(255, 61, 61);
    }
    20% {
        transform: translateX(24px);
    }
    40% {
        transform: translateX(-18px);
    }
    60% {
        transform: translateX(12px);
    }
    80% {
        transform: translateX(-6px);
        border-bottom: 1.5px solid rgb(255, 61, 61);
    }
    100% {
        transform: translateX(0px);
        border-bottom: 1.5px solid #bbb;
    }
}
